 @using App.Domain.Core.Core_App.UserAggrigate.Entities
@model User


<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="form-floating mb-3">
            <select class="form-select" id="newField7" aria-label="New Field 7">
                @for (int i = 0; i < Model.Cards.Count; i++)
                {
                    <option value="@Model.Cards[i].CardNumber">@Model.Cards[i].CardNumber</option>
                }
            </select>
            <label for="newField7">New Field 7</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="recipientCardNumber" type="text" placeholder="Recipient Card Number" data-sb-validations="required" />
            <label for="recipientCardNumber">Recipient Card Number</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="amount" type="text" placeholder="Amount" data-sb-validations="required" />
            <label for="amount">Amount</label>
        </div>
        <div class="input-group mb-3 mt-3" style="width:85%; margin-left:29px;">
            <a class="btn btn-outline-success btn-success" type="button" style="color:white; height:auto;" id="button-addon1" asp-action="RandomCode">Code</a>
            <input type="number" class="form-control" name="code" style="margin:0px;" placeholder="Code.." aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>