@using App.Domain.Core.Core_App.UserAggrigate.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User
<body>

    <p style="height: 70vh; width: 80vh; font-size: 150px;">
        Transfer with ease.
    </p>
    <div class="transfer-container" style="margin-right: 30vh; margin-top: 30vh;">
        <form asp-action="Transfer" method="post">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Cards</label>
                <select class="form-select" id="inputGroupSelect01" name="sourcecard">
                    <option selected>Choose Card...</option>
                    @for (int i = 0; i < Model.Cards.Count; i++)
                    {
                        <option value="@Model.Cards[i].CardNumber">@Model.Cards[i].CardNumber</option>
                    }
                </select>
            </div>

            <label style="color: rgb(144, 246, 255); font-size: 20px;">Recipient Card Number</label>

            <input type="text" name="destcard" placeholder="Recipient Card Number" required>

            <label style="color: rgb(144, 246, 255); font-size: 20px;">Transfer Amount</label>

            <input type="number" name="amount" placeholder="Amount" required>

            <div class="input-group mb-3 mt-3" style="width:85%; margin-left:29px;">
                <a class="btn btn-outline-success btn-success" type="button" style="color:white; height:auto;" id="button-addon1" asp-action="RandomCode">Code</a>
                <input type="number" class="form-control" name="code" style="margin:0px;" placeholder="Code.." aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>

            <button type="submit">Transfer</button>
        </form>
    </div>
</body>