@using App.Domain.Core.Core_App.UserAggrigate.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User
<div class="container">
    <h2>Change Password</h2>
    <form asp-action="ChangePassword" method="post">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Cards</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose Your Cart: </option>
                @for (int i = 0; i < Model.Cards.Count; i++)
                {
                    <option value="@Model.Cards[i].CardNumber">@Model.Cards[i].CardNumber</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="password">Current Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Current password" required>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" placeholder="Enter the new password" required>
        </div>
        <button type="submit">Change</button>
    </form>
</div>