@using App.Domain.Core.Core_App.CardAggrigate.Entities
@using App.Domain.Core.Core_App.TransactionAggrigate.Entities
@using App.Domain.Core.Core_App.UserAggrigate.Entities
@model User
<div class="container px-5 my-5">
    <form asp-controller="Card" asp-action="ChangePassword" method="post">
        <div class="form-floating mb-3">
            <select class="form-select" id="inputGroupSelect01" name="sourceCardNumber">
                <option selected>Select Card</option>
                @for (int i = 0; i < Model.Cards.Count; i++)
                {
                    <option value="@Model.Cards[i].CardNumber">@Model.Cards[i].CardNumber</option>
                }
            </select>
            <label for="selectYourCard">Select Your card</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="password" type="text" placeholder="password" data-sb-validations="required" />
            <label for="password">password</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="newPassword" type="text" placeholder="newPassword" data-sb-validations="required" />
            <label for="newPassword">newPassword</label>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>