@{
    ViewBag.Title = "Choose Action";
}
<h2>WELLCOME</h2>
<p>pleace choose an option</p>
<div>
    <button type="submit" class="btn btn-primary">
        <a style="color: black" href="@Url.Action("Login", "User")">Login</a>
    </button>

    <button type="submit" class="btn btn-primary">
        <a style="color: black" href="@Url.Action("Register", "User")">Register</a>
    </button>
</div>
